<mat-card *ngIf="!isAuthenticated">
  <div *ngIf="isSignUp">
    <h3>Create Account</h3>

    <button mat-stroked-button (click)="changeType('login')">
      Already User ?
    </button>
  </div>

  <div *ngIf="isLogin">
    <h3>Sign In</h3>

    <button mat-stroked-button (click)="changeType('signup')">
      New User ?
    </button>
  </div>

  <button
    mat-stroked-button
    *ngIf="isPasswordReset"
    (click)="changeType('login')"
  >
    Back
  </button>

  <form [formGroup]="form">
    <mat-form-field [color]="email.valid && 'accent'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />

      <mat-error *ngIf="email.invalid && email.dirty">
        Please Enter a Valid Email Address
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [color]="password.valid && 'accent'"
      *ngIf="!isPasswordReset"
    >
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />

      <mat-error *ngIf="password.invalid && password.dirty">
        Password Must at least 6 Characters Long
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [color]="passwordDoesMatch ? 'accent' : 'warn'"
      *ngIf="isSignUp"
    >
      <input
        matInput
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirm Password"
        autocomplete="off"
      />

      <mat-error *ngIf="passwordConfirm.dirty && !passwordDoesMatch">
        Password Does Not Match
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error"> {{ errorMessage }}</mat-error>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || !passwordDoesMatch || isLoading"
      (click)="onSubmit()"
    >
      Submit
    </button>

    <a *ngIf="!isPasswordReset && isLogin" (click)="changeType('reset')">
      Forgot Password ?
    </a>
    
  </form>
</mat-card>
